PORT=5555
CORS_ORIGIN=*
NEXT_PUBLIC_BACKEND_URL=http://localhost:5555
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your-cloud-name
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=your-unsigned-upload-preset
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
CLOUDINARY_URL=cloudinary://your-cloudinary-api-key:your-cloudinary-api-secret@your-cloud-name
MONGO_HOST=127.0.0.1
MONGO_PORT=27017
MONGO_DB_NAME=tryckeriett
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_AUTH_SOURCE=
